<%-include("../partials/header")%>
<div class="container login">
    <h2 id="login-heading">Reset Password</h2>
    <form action="/user/forgot" method="POST">
        <div class="form-group">
            <label for="email">Enter Registered Email Address</label>
            <input type="text" placeholder="email" name = "email" id="email" class="form-control" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <button type="submit" class="btn btn-primary login-btn">Reset Password</button>
    </form>
</div>
<%-include("../partials/footer")%>