<%-include("../partials/header")%>

<div class="container login mb-5">
    <h2 id="login-heading">Welcome To GIFSY!</h2>
    <form action="/user/sign-up" method="POST">
        <div class="form-group">
            <label for="name">Enter Name</label>
            <input type="text" placeholder="name" name = "name" id="name" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="username">Enter Username</label>
            <input type="text" placeholder="username" name = "username" id="name" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="password">Enter Password</label>
            <input type="password" placeholder="password" name = "password" id="password" class="form-control" required>
            <small id="emailHelp" class="form-text text-muted">8 charachers minimum</small>
        </div>
        <div class="form-group">
            <label for="email">Enter Email</label>
            <input type="email" placeholder="email" name = "email" id="email" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary login-btn">Submit</button>
        <a href="/user/forgot" class="pull-right" style="color: gray;"><strong>Forgot Password!</strong></a>

    </form>
</div>


<%-include("../partials/footer")%>

